#SimpleEffects .EmailCheck {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1b1b1b;    
}

#SimpleEffects .EmailCheck h3 {
    position: relative;
    font-size: 24px;
    color: #999;
    font-weight: 500;
    margin-bottom: 5px;   
}

#SimpleEffects .EmailCheck #form {
    position: relative;
    border: 2px solid;
    background: linear-gradient(#1e2024, #18181c);
    border-radius: 4px;
    overflow: hidden;
}

#SimpleEffects .EmailCheck #form #email {
    width: 500px;
    outline: none;
    background: transparent;
    border: navajowhite;
    padding: 12px 15px;
    padding-right: 50px;
    color: white;
    font-size: 18px;
}

#SimpleEffects .EmailCheck #form .indicator {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 10px;
    height: 10px;
    background: #555;
    border-radius: 50%;
}

#SimpleEffects .EmailCheck #form.valid .indicator {
    background: #0f0;
    box-shadow: 0 0 5px #0f0,
                0 0 10px #0f0,
                0 0 20px #0f0,
                0 0 40px #0f0;
}

#SimpleEffects .EmailCheck #form.invalid .indicator {
    background: #f00;
    box-shadow: 0 0 5px #f00,
                0 0 10px #f00,
                0 0 20px #f00,
                0 0 40px #f00;
}